.logo {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 800;
  color: var(--logo-primary-color);
}

.logoSecondary {
  display: flex;
  align-items: center;
  color: var(--modal-logo-secondary-color, var(--logo-secondary-color));
}

@media (max-width: 74.9375rem) {
  .logo {
    font-size: 1.2rem;
    font-weight: 800;
  }
}

@media (max-width: 61.9375rem) {
  .logo {
    font-size: 1.1rem;
    font-weight: 800;
  }
}

@media (max-width: 47.9375rem) {
  .logo {
    font-size: 1rem;
    font-weight: 800;
  }
}

@media (max-width: 29.9375rem) {
  .logo {
    font-size: 0.9rem;
    font-weight: 800;
  }
}
