.container {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 250px;
}

.goBackLink {
  margin-top: 20px;
  margin-left: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #333;
  transition:
    transform 0.3s ease,
    color 0.3s ease,
    text-decoration 0.3s ease;
  cursor: pointer;
}

.goBackLink:hover {
  text-decoration: underline;
  color: #187ff2;
  transform: translateY(-5px) scale(1.1);
}

.goBackLink:active {
  text-decoration: underline;
  color: #fa2105;
  transform: translateY(0) scale(0.95);
}

.closeButton {
  position: absolute;
  top: 20px; /* Відступ від верхнього краю */
  right: 20px; /* Відступ від правого краю */
  background: none;
  border: none;
  font-size: 32px;
  color: #555; /* Колір хрестика */

  /* padding: 0;
  line-height: 1; Вирівнювання по вертикалі */
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
}

.closeButton:hover {
  color: #187ff2;
  transform: translateY(-5px) scale(1.1);
}

.closeButton:active {
  color: #fa2105;
  transform: translateY(0) scale(0.95);
}

.feedback {
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  align-items: center;

  /* grid-column: 80px; */
}

.text {
  font-size: 36px;
}
