.container-page {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90rem;
  max-height: 100vh;
  margin: 0 auto;
  padding: var(--padding-form-md);
  box-sizing: border-box;
  overflow-y: auto;
  background-color: var(--body-bg-color);
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

.go-back-link {
  z-index: 10;
  cursor: pointer;
  margin: 0;
  padding: 0;
  font-size: 2.25rem;
  text-decoration: none;
  white-space: nowrap;
  color: var(--primary-color);
  transition:
    transform 0.3s ease,
    color 0.3s ease,
    text-decoration 0.3s ease;
}

.go-back-link:hover {
  text-decoration: underline;
  color: var(--hover-color);
  transform: scale(1.05);
}

.go-back-link:active {
  text-decoration: underline;
  color: var(--active-color);
  transform: scale(0.95);
}

.page-close-button {
  z-index: 10;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: var(--button-close-icon-color);
  transition: color 0.3s ease;
}

.feedback {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  margin: 7.375rem 0;
  padding: 0;
  text-align: center;
}

.feedback h1 {
  margin: 0;
  margin-bottom: 3.125rem;
  font-size: 3rem;
  color: var(--primary-color);
}

.text-feedback {
  max-width: 50rem;
  font-size: 2.5rem;
  line-height: 1.5;
  color: var(--secondary-color);
}

@media (width <= 74.9375rem) {
  .go-back-link {
    font-size: 2rem;
  }

  .page-close-button {
    font-size: 1.75rem;
  }

  .feedback h1 {
    font-size: 2.75rem;
  }

  .text-feedback {
    font-size: 2.25rem;
  }
}

@media (width <= 61.9375rem) {
  .go-back-link {
    font-size: 1.75rem;
  }

  .page-close-button {
    font-size: 1.5rem;
  }

  .feedback h1 {
    font-size: 2.5rem;
  }

  .text-feedback {
    font-size: 2rem;
  }
}

@media (width <= 47.9375rem) {
  .go-back-link {
    font-size: 1.55rem;
  }

  .page-close-button {
    font-size: 1.25rem;
  }

  .feedback h1 {
    font-size: 2.25rem;
  }

  .text-feedback {
    font-size: 1.75rem;
  }

  .feedback {
    margin: 6.25rem 0;
  }
}

@media (width <= 29.9375rem) {
  .go-back-link {
    font-size: 1.25rem;
  }

  .page-close-button {
    font-size: 1rem;
  }

  .feedback h1 {
    font-size: 2rem;
  }

  .text-feedback {
    font-size: 1.5rem;
  }

  .feedback {
    margin: 5rem 0;
  }
}
