.containerHerosection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1312px;
  margin-top: 48px;
  margin-left: auto;
  margin-right: auto;
}

.containerHerosection h2 {
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
}

.reviewsLocation {
  display: flex;

  width: 100%;
  max-height: 24px;
  margin-top: 8px;
}

.titleReviews,
.locationTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
}
.titleReviews p,
.locationTitle p {
  margin: 0;
}

.locationTitle {
  margin-left: 16px;
}

.iconStar,
.iconMap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.textReviewsTitle {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.textLocationTitle {
  margin: 0;
}

.containerPrice {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 32px;
  margin-top: 12px;
}

.price {
  margin: 0;
  font-size: 1.5rem;
}
