.Title {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 128px;
  flex-wrap: wrap;

  /* margin-top: 0; */

  /* margin-bottom: 8px; */
}

.containerDetail {
  display: flex;
  flex-direction: column;
  width: 100%;

  /* background-color: brown; */
}

.reviewsLocation {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 24px;
  margin-bottom: 16px;

  /* background-color: #bb99e2; */
}

.titleReviews,
.locationTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  /* background-color: chartreuse; */
  white-space: nowrap;
}

.locationTitle {
  margin-left: 16px;
}

.iconStar,
.iconMap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}

.textReviewsTitle {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.textLocationTitle {
  margin: 0;
}

.containerPrice {
  display: flex;
  align-items: center;
  width: 100%;
  max-height: 32px;

  /* background-color: #d3d88f; */
}

.Price {
  margin: 0;
  font-size: 1.5rem;
}
