.container-hero-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 82rem;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
}

.container-hero-section h2 {
  width: 100%;
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
  color: var(--primary-color);
}

.reviews-location {
  display: flex;
  width: 100%;
  max-height: 1.5rem;
  margin-top: 0.5rem;
}

.title-reviews,
.location-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  color: var(--secondary-color);
}

.location-title {
  margin-left: 1rem;
}

.icon-star {
  fill: var(--star-gold-color);
}

.icon-map {
  fill: var(--icon-primary-color);
}

.icon-star,
.icon-map {
  width: 1.2rem;
  height: 1rem;
  margin-right: 0.375rem;
  vertical-align: middle;
}

.text-reviews-title {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.text-location-title {
  margin: 0;
}

.container-price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-height: 2rem;
  margin-top: 0.75rem;
}

.price {
  margin: 0;
  font-size: 1.5rem;
  text-align: left;
}
