.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 641px;
  max-height: 588px;
  width: 100%;
  background-color: #f7f7f7;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  border-radius: 6px;
  margin-left: 24px;
  overflow: hidden;
  padding: 40px 57px 40px 57px;
}

.titleForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 24px;
}

.textTitleForm {
  margin-bottom: 8px;
  margin-top: 0;
}

.textForm {
  margin: 0;
  color: #555;
}

.inputs {
  width: 100%;
}

.inputForm {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 0;
}

.inputAndErrorWrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
  position: relative;
}

.fieldForm,
.fieldArea {
  display: flex;
  flex-direction: row;
  gap: 18px;
  align-items: center;
  padding: 18px;
  width: 100%;
  box-sizing: border-box;
  background-color: #dddbdb;
  border-radius: 6px;
}

.fieldArea {
  align-items: flex-start;
}

.label {
  color: #555;
  font-size: 1rem;
  min-width: 60px;
  flex-shrink: 0;
}

.modalInput,
.modalTextArea {
  flex: 1;
  padding: 4px 18px;
  font-weight: 400;
  font-size: 1rem;
  color: #555;
  border: 1px solid #f7f7f7;
  border-radius: 6px;
  background-color: #f7f7f7;
  cursor: pointer;
  align-items: center;
}

.modalTextArea {
  min-height: 82px;
}

.modalInput:hover,
.modalTextArea:hover {
  border: 1px solid #187ff2;
}

.modalTextArea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.elementSubmit {
  margin-top: auto;
  text-align: center;
}

.star {
  background: none;
  border: none;
  padding: 0;
  margin-right: 5px;
  font-size: 1rem;
  cursor: pointer;
  color: #555;
}

.star.filled {
  color: gold;
  font-size: 1rem;
}

.star:focus {
  outline: 1px solid #777;
  border-radius: 3px;
}

.charCount {
  font-size: 0.8em;
  color: #888;
  text-align: center;
  margin-top: 5px;
  padding-right: 5px;
  transition: color 0.3s ease;
}

.charCountWarning {
  color: #fa2105;
  font-weight: bold;
}
.inputAndErrorWrapper {
  position: relative;
  width: 100%;
}
.errorPopup {
  color: #dc3545; /* Червоний колір для помилок */
  font-size: 0.9em;
  margin-top: 5px;
  /* Для спливаючого вікна */
  position: absolute;
  top: calc(100% + 4px); /* Розміщує його під полем */
  left: 0;
  background-color: #f5f3f3;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap; /* Щоб текст не переносився */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #fa2105;
  z-index: 10;
  margin: 0;
}

.generalErrorPopup {
  text-align: center;
  margin-top: 10px;
}

.inputError {
  border-color: #dc3545; /* Червона рамка для полів з помилками */
}

.errorPopup::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 10px;
  border-width: 0 6px 6px 6px;
  border-style: solid;
  border-color: transparent transparent #fa2105 transparent;
}
