.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  min-height: 91.75rem;
  margin: 0 auto;
  background-color: var(--body-bg-color);
}

.container-content-details {
  width: 100%;
  max-width: 90rem;
  padding: var(--padding-xl);
}

.container-text {
  width: 100%;
  max-width: 82rem;
  margin: 0 auto;
}

.text {
  margin: 0;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  text-indent: 2em;
  text-align: justify;
}

.text p {
  margin: 0;
}

.container-form-details {
  position: relative;
  display: flex;
  align-items: stretch;
  gap: var(--gap-xl);
  width: 100%;
  max-width: 82rem;
  margin: 2.75rem auto 5rem;
  flex-wrap: wrap;
}

.details,
.container-form-booking {
  display: flex;
  flex: 1 1 0;
  max-width: 39rem;
  min-width: 20rem;
  box-sizing: border-box;
  flex-direction: column;
}

.details {
  gap: 5rem;
  padding: 4rem;
  background-color: var(--blok-details-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.error {
  padding: 1.25rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--error-color);
}

@media (width <= 74.9375rem) {
  .container-content-details {
    padding: var(--padding-lg);
  }

  .container-form-details {
    flex-wrap: nowrap;
    gap: 2rem;
  }

  .details,
  .container-form-booking {
    flex: 1 1 50%;
    max-width: 50%;
  }

  .details {
    padding: 2.5rem;
  }
}

@media (width <= 61.9375rem) {
  .container-content-details {
    padding: var(--padding-md);
  }

  .details-form {
    gap: 1.5625rem;
  }

  .container-form-details {
    flex-wrap: wrap;
  }

  .details,
  .container-form-booking {
    flex-basis: 100%;
    max-width: 28.6875rem;
    margin: 0 auto;
  }

  .details {
    padding: 1.5rem;
  }
}

@media (width <= 47.9375rem) {
  .container-content-details {
    padding: var(--padding-sm);
  }

  .container-text {
    margin-top: 1.25rem;
  }

  .details-form {
    gap: 2rem;
    margin-top: 1.875rem;
  }

  .details {
    padding: 1.25rem;
  }
}

@media (width <= 29.9375rem) {
  .container-content-details {
    padding: var(--padding-xs);
  }

  .container-text {
    margin-top: 0.9375rem;
  }

  .details-form {
    margin-top: 1.5rem;
  }

  .details {
    padding: 0.9375rem;
  }
}
