.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  min-height: 91.75rem;
  margin: 0 auto;
  background-color: var(--body-bg-color);
}

.containerContentDetails {
  width: 100%;
  max-width: 90rem;
  padding: var(--padding-xl);
}

.containerText {
  width: 100%;
  max-width: 82rem;
  margin: 0 auto;
}

.text {
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  line-height: 1.5;
  margin: 0;
}

.text p {
  margin: 0;
}

.detailsForm {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 4rem;
  width: 100%;
  max-width: 82rem;
  margin: 2.75rem auto 5rem;
  position: relative;
}

.details,
.containerFormBooking {
  flex: 1;
  max-width: 39rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 4rem;
  background-color: var(--blok-details-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  position: relative;
}

.error {
  text-align: center;
  color: #e74c3c;
  font-size: 1.2rem;
  padding: 1.25rem;
}

@media (max-width: 74.9375rem) {
  .containerContentDetails {
    padding: var(--padding-lg);
  }
  .detailsForm {
    gap: 2.5625rem;
  }
  .details,
  .containerFormBooking {
    max-width: 33.6875rem;
  }
  .details {
    padding: 2.5rem;
  }
}

@media (max-width: 61.9375rem) {
  .containerContentDetails {
    padding: var(--padding-md);
  }
  .detailsForm {
    gap: 1.5625rem;
  }
  .details,
  .containerFormBooking {
    flex-basis: 100%;
    max-width: 28.6875rem;
    margin: 0 auto;
  }
  .details {
    padding: 1.5rem;
  }
}

@media (max-width: 47.9375rem) {
  .containerContentDetails {
    padding: var(--padding-sm);
  }
  .containerText {
    margin-top: 1.25rem;
  }
  .detailsForm {
    margin-top: 1.875rem;
    gap: 2rem;
  }
  .details {
    padding: 1.25rem;
  }
}

@media (max-width: 29.9375rem) {
  .containerContentDetails {
    padding: var(--padding-xs);
  }
  .containerText {
    margin-top: 0.9375rem;
  }
  .detailsForm {
    margin-top: 1.5rem;
    /* justify-content: space-between; */
    /* gap: 0.9375rem; */
  }
  .details {
    padding: 0.9375rem;
  }
}
