.popupContent {
  position: absolute;
  top: 10%;
  z-index: 1;
  width: 100%;
  max-width: 524px;
  max-height: 100vh;
  padding: 10px;
  overflow-y: auto;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  white-space: normal;
  cursor: default;
}

.closeButton {
  display: inline-block;
  vertical-align: top;
  position: absolute;

  top: 4px;
  right: 8px;
  font-size: 20px;
  color: black;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

.closeButton:hover {
  color: #187ff2;
  transform: scale(1.5);
}
.closeButton:active {
  color: #fa2105;
  transform: scale(1.5);
}
.descriptionText {
  margin-top: 20px;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #777;
}
