.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.9rem;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.links li button {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--primary-color-1);
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.links li button:hover {
  color: var(--hover-color);
  transform: scale(1.2);
}
.links li button:active {
  color: var(--active-color);
  transform: scale(0.95);
}
