.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
  flex-wrap: wrap;
}

.socialIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--opposite-text-color);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
}

.socialIcon:hover {
  color: var(--hover-color);
  transform: scale(1.2);
}
.socialIcon:active {
  color: var(--active-color);
  transform: scale(0.95);
}
