.container-page,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12.5rem;
  font-size: 1.2rem;
  text-align: center;
  color: var(--error-color);
}

.container-page {
  padding: var(--padding-form-min);
}

@media (width <= 61.9375rem) {
  .loader-container,
  .error {
    min-height: 9.375rem;
    font-size: 1.1rem;
  }
}

@media (width <= 47.9375rem) {
  .loader-container,
  .error {
    min-height: 6.25rem;
    font-size: 1rem;
  }
}
