.tabc {
  display: flex;
  width: 1312px;
  height: 48px;
  background-color: rgb(204, 175, 181);
  margin-top: 60px;
  position: relative; 
}


.titlesTabs {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 206px;
  height: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 24px;
  background-color: #ffaa00;
  align-items: center; 
}



.textTitlesTabsFeatures,
.textTitlesTabsReviews {
  display: flex;
  align-items: start;
  justify-content: center;
  width: 85px;
  height: 100%;
  background-color: aqua;
  font-size: 1.2rem;
  font-weight: 600;

}

/* Стиль для наведення курсора тільки на неактивні вкладки */
.textTitlesTabsFeatures:not(.active):hover,
.textTitlesTabsReviews:not(.active):hover {
  color: blue; /* Змінюємо колір тексту при наведенні */
}



.active {
  border-bottom: 4px solid red;
  color: #000; /* Колір тексту активної вкладки */
  cursor: default; /* Змінюємо курсор на стандартний для активної вкладки */
  transform: scale(1.1);
}



.dividerWrapper {
  position: absolute; /* Абсолютне позиціонування лінії */
  bottom: 0; /* Розміщуємо лінію внизу контейнера */
  left: 0; /* Розміщуємо лінію зліва */
  width: 85px; /* Задаємо ширину лінії, щоб підкреслити "Features" */
}
