.backdropInCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  border-radius: var(--radius--md);
  overflow: hidden;
  backdrop-filter: blur(0.1875rem);
  -webkit-backdrop-filter: blur(0.1875rem);
}

.popupContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 90%;
  max-width: 32.75rem;
  min-height: 15rem;
  max-height: 90%;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: var(--blok-description-bg-color);
  border: none;
  border-radius: var(--radius-sm);
  box-shadow: var(--box-shadow);
  white-space: normal;
  cursor: default;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popupCloseButton {
  position: absolute;
  top: 0.625rem;
  right: 0.9375rem;
  font-size: 1.2rem;
  z-index: 1;
  color: var(--primary-color);
}

.descriptionText {
  font-size: 1.2rem;
  line-height: 1.3;
  text-indent: 1rem;
  text-align: justify;
  color: var(--primary-color);
  padding-top: 0.625rem;
}

@media (max-width: 74.9375rem) {
  .popupContent {
    max-width: 90%;
    min-height: 15rem;
  }
  .popupCloseButton {
    font-size: 1.15rem;
  }
  .descriptionText {
    font-size: 1.15rem;
    line-height: 1.25;
  }
}

@media (max-width: 61.9375rem) {
  .popupContent {
    min-height: 12.5rem;
  }
  .popupCloseButton {
    font-size: 1.1rem;
  }
  .descriptionText {
    font-size: 1.1rem;
    line-height: 1.2;
  }
}

@media (max-width: 47.9375rem) {
  .popupContent {
    min-height: 11.25rem;
  }
  .popupCloseButton {
    font-size: 1.05rem;
  }
  .descriptionText {
    font-size: 1.05rem;
    line-height: 1.15;
  }
}

@media (max-width: 29.9375rem) {
  .popupContent {
    min-height: 12.5rem;
  }
  .popupCloseButton {
    font-size: 1rem;
  }
  .descriptionText {
    font-size: 1rem;
    line-height: 1.1;
  }
}
