/* .containerPictures {
  display: flex;
  gap: 60px;
  width: 100%;
  max-width: 1312px;
  margin: 28px auto;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: nowrap;
} */

.containerPictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 рівні колонки */
  gap: 60px; /* рівномірні проміжки між фото */
  width: 100%;
  max-width: 1312px;
  margin: 28px auto;
  /* padding: 0 20px;  */
  padding: 0;
  box-sizing: border-box;
}

.galleryImageButton {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.galleryImageButton:hover {
  border-radius: 6px;
  outline: 8px solid #187ff2;
}

/* .galleryItem {
  display: block;
  width: 100%;
  min-height: 312px;
  border-radius: 6px;
} */
.galleryItem {
  display: block;
  width: 100%;
  height: auto;
  min-height: 312px;
  object-fit: cover;
  border-radius: 6px;
}
@media (max-width: 1199px) {
  .containerPictures {
    gap: 44px;
  }
}

@media (max-width: 991px) {
  .containerPictures {
    gap: 24px;
  }
}

@media (max-width: 767px) {
  /* .containerPictures {
    grid-template-columns: repeat(2, 1fr);
  } */
  .containerPictures {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 479px) {
  .containerPictures {
    grid-template-columns: 1fr;
  }
}
