.containerPictures {
  display: flex;
  gap: 60px;
  width: 100%;
  max-width: 1312px;
  margin: 28px auto;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: nowrap;
}

.galleryImageButton {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.galleryImageButton:hover {
  border-radius: 6px;
  outline: 8px solid #187ff2;
}

.galleryItem {
  display: block;
  width: 100%;
  min-height: 312px;
  border-radius: 6px;
}
