.containerPictures {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-xl);
  width: 100%;
  max-width: 1312px;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 28px;
  padding: 0;
}

.galleryImageButton {
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  transition: outline 0.2s ease-in-out;
}

.galleryImageButton:hover,
.galleryImageButton:focus {
  border-radius: var(--radius-sm);
  outline: 8px solid var(--highlight-color);
}

.galleryItem {
  display: block;
  width: 100%;
  height: auto;
  min-height: var(--image-min-height);
  border-radius: var(--radius-sm);
  object-fit: cover;
}

@media (width <= 1199px) {
  .containerPictures {
    gap: var(--gap-lg);
  }
}

@media (width <= 991px) {
  .containerPictures {
    gap: var(--gap-md);
  }
}

@media (width <= 767px) {
  .containerPictures {
    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
  }
}

@media (width <= 479px) {
  .containerPictures {
    gap: var(--gap-xs);
  }
}
