.lang-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
}

.language-en,
.language-uk {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-color);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.language-en:not(.active):hover,
.language-uk:not(.active):hover {
  text-decoration: underline;
  color: var(--hover-color);
  transform: scale(1.05);
  opacity: 0.7;
}

.language-en:not(.active):active,
.language-uk:not(.active):active {
  color: var(--active-color);
  transform: scale(0.95);
}

.separator {
  cursor: default;
  margin: 0 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-color);
}

.active {
  cursor: default;
  color: var(--active-color);
}

@media (width <= 74.9375rem) {
  .language-en,
  .language-uk,
  .separator {
    font-size: 1.2rem;
  }
}

@media (width <= 61.9375rem) {
  .language-en,
  .language-uk,
  .separator {
    font-size: 1.1rem;
  }
}

@media (width <= 47.9375rem) {
  .language-en,
  .language-uk,
  .separator {
    font-size: 1rem;
  }
}

@media (width <= 29.9375rem) {
  .language-en,
  .language-uk,
  .separator {
    font-size: 0.9rem;
  }
}
