.lang-switcher {
  display: flex;
  gap: 0;
  align-items: center;
}

.language-En,
.language-Uk {
  cursor: pointer;
  padding: 0;
  background: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-color);
  transition: 
  /* opacity 0.2s; */
    transform 0.3s ease,
    color 0.3s ease;
}

.language-En:not(.active):hover,
.language-Uk:not(.active):hover {
  opacity: 0.7;
  text-decoration: underline;
  color: var(--hover-color);
  transform: scale(1.05);
}
.language-En:not(.active):active,
.language-Uk:not(.active):active {
  color: var(--active-color);
  transform: scale(0.95);
}

.separator {
  margin: 0 0.5rem;
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-color);
  cursor: default;
}

.active {
  cursor: default;
  color: var(--active-color);
}

@media (width <= 74.9375rem) {
  .language-En,
  .language-Uk,
  .separator {
    font-size: 1.2rem;
  }
}

@media (width <= 61.9375rem) {
  .language-En,
  .language-Uk,
  .separator {
    font-size: 1.1rem;
  }
}
@media (width <= 47.9375rem) {
  .language-En,
  .language-Uk,
  .separator {
    font-size: 1rem;
  }
}

@media (width <= 29.9375rem) {
  .language-En,
  .language-Uk,
  .separator {
    font-size: 0.9rem;
  }
}
