.listContainer {
  display: flex;

  /* gap: 14px; */
  flex-direction: column;
  width: 100%;

  /* max-width: 640px; */
  height: auto;
  margin: 0;

  /* margin-bottom: 24px; */
  padding: 0;

  /* justify-content: center; */

  /* background-color: #f7f7f7; */

  /* border: solid #777; */
  box-sizing: border-box;

  /* box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.15);box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
  border-radius: 6px;
}

.reviewsList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reviewItem {
  margin-bottom: 40px;
  background-color: #f7f7f7;
  border-radius: 6px;

  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); */
}
