.container {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.25rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 90rem;
  max-height: 100vh;
  margin: 0 auto;
  background-color: var(--body-bg-color);
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}

.goBackLink {
  font-size: 1.25rem;
  text-decoration: none;
  color: var(--primary-color);
  transition:
    transform 0.3s ease,
    color 0.3s ease,
    text-decoration 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
  z-index: 10;
  padding: 0;
  margin: 0;
}

.goBackLink:hover {
  text-decoration: underline;
  color: var(--hover-color);
  transform: scale(1.05);
}

.goBackLink:active {
  text-decoration: underline;
  color: var(--active-color);
  transform: scale(0.95);
}

.pageCloseButton {
  font-size: 1.25rem;
  z-index: 10;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
  color: var(--button-close-icon-color);
  cursor: pointer;
  transition: color 0.3s ease;
}

.pageCloseButton:hover {
  color: var(--hover-color);
}
.pageCloseButton:active {
  color: var(--active-color);
}
.loaderOverlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background: rgba(255, 255, 255, 0.7);
  padding: 0.9735rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  text-align: center;
  padding: 0;
  margin: 9.375rem 0;
}

.feedback h1 {
  font-size: 3rem;
  margin: 0;
  margin-bottom: 3.125rem;
  color: var(--primary-color);
}

.text {
  font-size: 2.25rem;
  max-width: 50rem;
  line-height: 1.5;
  color: var(--secondary-color);
}

@media (max-width: 74.9375rem) {
  .feedback h1 {
    font-size: 2.75rem;
  }
  .text {
    font-size: 2rem;
  }
}

@media (max-width: 61.9375rem) {
  .goBackLink,
  .pageCloseButton {
    font-size: 1.125rem;
  }
  .feedback h1 {
    font-size: 2.5rem;
  }
  .text {
    font-size: 1.875rem;
  }
}

@media (max-width: 47.9375rem) {
  .goBackLink,
  .pageCloseButton {
    font-size: 1rem;
  }
  .feedback h1 {
    font-size: 2rem;
  }
  .text {
    font-size: 1.5rem;
  }
  .feedback {
    margin: 6.25rem 0;
  }
}

@media (max-width: 29.9375rem) {
  .goBackLink,
  .pageCloseButton {
    font-size: 0.875rem;
  }
  .feedback h1 {
    font-size: 1.75rem;
  }
  .text {
    font-size: 1.25rem;
  }
  .feedback {
    margin: 5rem 0;
  }
}
