:root {
  --primary-text-color: #3f3f3f;
  --divider-color: #cacaca;
  --background-color: #eceaea;
  --max-width-desktop: 39rem;
  --max-width-tablet: 33.6875rem;
  --spacing-large: 1.5rem;
  --spacing-medium: 1rem;
  --spacing-small: 0.75rem;
}

.vehicle-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: var(--max-width-desktop);
  margin-top: auto;
}

.vehicle-container h3 {
  margin-top: 0;
  color: var(--primary-color);
}

.divider {
  width: 100%;
  height: 0.125rem;
  background-color: var(--divider-color);
}

.vehicle-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-medium);
  width: 100%;
  height: auto;
  max-width: var(--max-width-desktop);
  margin-top: var(--spacing-large);
  color: var(--secondary-color);
}

.vehicle-info p {
  margin: 0;
}

.texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 1.5rem;
  background-color: var(--body-secondary-bg-color);
  font-weight: 500;
  color: var(--body-primary-text-color);
}

@media (width <= 74.9375rem) {
  .vehicle-info {
    gap: var(--spacing-large);
    max-width: var(--max-width-tablet);
  }
}
