.vehicleContainer {
  display: flex;
  flex-direction: column;
  width: 527px;
  height: 296px;
  background-color: #e72fa0;
  margin-right: 52px;
  margin-left: 52px;
  margin-top: auto;
}

.textDetails {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 527px;
  height: 24px;
  background-color: #0cb444;
  margin-top: 0;
  margin-bottom: 24px;
}

.divider {
  display: flex;
  flex-direction: column;
  width: 527px;
  margin: 0;
  margin-bottom: 24px;
  stroke-width: 1px;
  stroke: #dadde1;
}

.vehicleInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 527px;
  height: 224px;
  background-color: #ffaa00;
  margin-top: 0;
}

.texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 527px;
  height: 24px;
  background-color: lightgray;
  font-weight: 500;
}
