.vehicleContainer {
  display: flex;
  flex-direction: column;
  max-width: 527px;
  margin-top: auto;
}

.textDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin: 0;
}

.divider {
  display: flex;
  flex-direction: column;
  background-color: #cacaca;
  height: 5px;
  width: 100%;
  box-shadow: 0 1px 4px #9b9a9a;
}
.vehicleInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 527px;
  height: 100%;
  margin-top: 24px;
}

.texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 527px;
  height: 24px;
  background-color: #dddbdb;
  font-weight: 500;
  color: #3f3f3f;
}
