/* CSS-змінні */

:root {
  /* Dimensions */

  /* padding */
  --padding-xl: 0 4rem; /* max-width: 1440px, padding-desktop */
  --padding-lg: 0 2.5rem; /* max-width: 1199px, padding-laptop */
  --padding-md: 0 1.5rem; /* max-width: 991px, padding-tablet */
  --padding-sm: 0 1.25rem; /* max-width: 767px, padding-mobile */
  --padding-xs: 0 1rem; /* max-width: 479px, padding-mobile */
  --padding-min: 0 0.5rem; /* max-width: 359px, padding-mobile */

  /* padding form */
  --padding-form-xl: 4rem; /* 64px */
  --padding-form-lg: 2.5rem; /* 40px */
  --padding-form-md: 1.5rem; /* 32px */
  --padding-form-sm: 1.25rem; /* 20px */
  --padding-form-xs: 1rem; /* 16px */
  --padding-form-min: 0.5rem; /* 8px */

  /* spacing */
  --spacing-sm: 0.25rem; /* 4px */
  --spacing-md: 0.375rem; /* 6px */
  --spacing-lg: 1.125rem; /* 18px */

  /* gap */
  --gap-xl: 4rem; /* 64px */
  --gap-lg: 2.5rem; /* 40px */
  --gap-md: 1.5rem; /* 24x */
  --gap-sm: 1.25rem; /* 20x */
  --gap-xs: 1rem; /* 16x */

  /* border */
  --radius-sm: 0.375rem; /* 6px */
  --radius-md: 0.75rem; /* 12px */
  --radius-lg: 1.25rem; /* 20px */
  --radius-full: 624.9375rem; /* 9999px */

  /* image */
  --image-min-height: 19.5rem; /* 312px */

  /* form */
  --form-max-width-xl: 39rem; /* 624px */
  --form-max-width-lg: 33.6875rem; /* 539px */
  --form-max-width-md: 28.6875rem; /* 459px */

  /******************************************************  */

  /* Палітра кольорів */

  /* Primary colors */
  --color-black: #000; /* чорний колір */
  --color-white: #fff; /* білий колір */
  --color-gray: #6c7178; /* сірий  колір */
  --color-red: #e60000; /* червоний колір */
  --color-blue: #1e40ff; /* синій  колір */

  /* Special colors*/
  --color-yellow: #ffc107; /* помаранчевий колір */
  --color-green: #0f0; /* зелений  колір */

  /* Shades of gray */
  --color-dark-gray: #3f3b3f;
  --color-light-gray: #f2f4f7;
  --color-light-gray-2: #dadbdc;
  --color-light-gray-3: #9ea0a0;
  --color-light-gray-4: #948f8fff;

  /* Shades of green */
  --color-dark-green: #05a820;

  /* Shades of white */
  --color-off-white: #f7f7f7;

  /* Shades ofblack */
  --color-soft-black: #121212;
  --color-gunmetal-black: #2a2a2a;

  /*************************************  */

  /* Elements whose colors do not change */

  /* unchanging bg */
  --hover-bg-color: var(--color-blue);
  --active-bg-color: var(--color-red);
  --button-primary-bg-color: var(--color-red);
  --button-disabled-bg-color: var(--color-light-gray-2);

  /* unchanging  color */
  --hover-color: var(--color-blue);
  --active-color: var(--color-red);
  --input-color: var(--color-blue);
  --highlight-color: var(--color-blue);
  --error-color: var(--color-red);
  --warning-color: var(--color-red);
  --avatar-color: var(--color-red);
  --star-gold-color: var(--color-yellow);
  --star-empty-color: var(--color-light-gray-4);
  --shapes-color: var(--color-white);
  --button-primary-text-color: var(--color-white);
  --button-secondary-text-color: var(--color-dark-gray);
  --button-disabled-text-color: var(--color-dark-gray);
  --char-count-color: var(--color-light-gray-4);
  --modal-image-bg-color: var(--color-white);

  /**********************************************  */

  /* light theme */

  /* bg color */
  --header-bg-color: var(--color-light-gray-2);
  --body-bg-color: var(--color-off-white);
  --footer-bg-color: var(--color-dark-gray);
  --avatar-bg-color: var(--color-light-gray-2);
  --blok-details-bg-color: var(--color-light-gray);
  --blok-feature-icon-bg-color: var(--color-light-gray-2);
  --blok-location-bg-color: var(--color-light-gray-2);
  --blok-description-bg-color: var(--color-light-gray-2);
  --blok-field-form-bg-color: var(--color-light-gray-2);
  /* --blok-field-input-area-bg-color: var(--color-light-gray-3); */
  --blok-field-input-area-bg-color-1: var(--color-off-white);
  --scrollbar-track-bg-color: var(--color-light-gray);
  --scrollbar-thumb-bg-color: var(--color-light-gray-4);

  /* color */
  --primary-color: var(--color-black);
  --primary-color-1: var(--color-white);
  --secondary-color: var(--color-soft-black);
  --tertiary-color: var(--color-dark-gray);
  --tertiary-color-2: var(--color-light-gray);
  --button-default-text-color: var(--color-dark-gray);

  /* logo color */
  --logo-primary-color: var(--color-dark-gray);
  --logo-secondary-color: var(--color-gray);

  /* button color */
  --toggle-theme-icon-color: var(--color-dark-gray);
  --button-burger-icon-color: var(--color-dark-gray);
  --button-close-icon-color: var(--color-dark-gray);

  /* icon color */
  --home-phone-icon-color: var(--color-green);
  --contact-phone-icon-color: var(--color-dark-green);
  --contact-email-icon-color: var(--color-dark-green);
  --social-icon-color: var(--color-white);
  --icon-primary-color: var(--color-dark-gray);
  --star-icon-filled-color: var(--color-light-gray-2);

  /* placeholder color */
  --placeholder-form-booking-reviews-color: var(--color-gray);
  /* --placeholder-form-reviews-color: var(--color-gray); */

  /* boorder color */
  --border-color: var(--color-light-gray-2);
  --border-secondary-color: var(--color-gray);

  /* box-shadow color */
  --box-shadow: 0 0.125rem 0.625rem rgb(0 0 0 / 15%);
}

.dark-theme {
  /* bg color */
  --header-bg-color: var(--color-dark-gray);
  --body-bg-color: var(--color-soft-black);
  --footer-bg-color: var(--color-light-gray-2);
  --avatar-bg-color: var(--color-dark-gray);
  --blok-details-bg-color: var(--color-gunmetal-black);
  --blok-feature-icon-bg-color: var(--color-dark-gray);
  --blok-location-bg-color: var(--color-dark-gray);
  --blok-description-bg-color: var(--color-dark-gray);
  --blok-field-form-bg-color: var(--color-dark-gray);
  /* --blok-field-input-bg-color: var(--color-gunmetal-black); */
  --blok-field-input-area-bg-color-1: var(--color-soft-black);
  --scrollbar-track-bg-color: var(--color-dark-gray);
  --scrollbar-thumb-bg-color: var(--color-light-gray-2);

  /* color */
  --primary-color: var(--color-white);
  --primary-color-1: var(--color-black);
  --secondary-color: var(--color-off-white);
  --tertiary-color: var(--color-light-gray);
  --tretiary-color-2: var(--color-dark-gray);
  --button-default-text-color: var(--color-white);

  /* logo color */
  --logo-primary-color: var(--color-white);
  --logo-secondary-color: var(--color-light-gray-2);

  /* button color */
  --toggle-theme-icon-color: var(--color-white);
  --button-burger-icon-color: var(--color-white);
  --button-close-icon-color: var(--color-white);

  /* icon color */
  --home-phone-icon-color: var(--color-dark-green);
  --contact-phone-icon-color: var(--color-green);
  --contact-email-icon-color: var(--color-green);
  --social-icon-color: var(--color-black);
  --icon-primary-color: var(--color-light-gray);
  --star-icon-filled-color: var(--color-gray);

  /* placeholder color */
  --placeholder-form-booking-reviews-color: var(--color-gray);
  /* --placeholder-form-reviews-color: var(--color-gray); */

  /* border color */
  --border-color: var(--color-gray);
  --border-secondary-color: var(--color-light-gray-2);

  /* box-shadow color */
  --box-shadow: 0 0.125rem 0.625rem rgb(255 255 255 / 15%);
}
