.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: center;
  width: 1440px;
  min-height: 100vh; 
  background-color: #dbe72f;
  margin: 0 auto;
}

.containerTitle {
  display: flex;
  flex-direction: column;
  width: 1312px;
  margin-top: 48px;
  background-color: aqua;
  min-height: 100vh;
  margin-bottom: 44px;
}

.containerText {
  display: flex;
  width: 1312px;
  /* height: 48px; */
  height: auto;
  align-items: center;
  background-color: antiquewhite;
  margin-top: 28px;
}

.text {
  letter-spacing: 0.02em;
  color: #475467;
}

.tabc {
  display: flex;
  width: 1312px;
  height: 48px;
  background-color: rgb(204, 175, 181);
  margin-top: 60px;
}

.titlesTabs {
  display: flex;
  flex-direction: row;
  gap: 40px;
  width: 206px;
  height: 24px;
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 24px;
  background-color: #ffaa00;
  align-items: center; 

}

.textTitlesTabsFeatures {
  display: flex;
  align-items: center;
  width: 85px;
  height: 24px;
  background-color: rgb(87, 187, 95);
}

.textTitlesTabsReviews {
  display: flex;
  align-items: center;
  width: 81px;
  height: 24px;
  background-color: rgb(87, 187, 95);
 
}

.dividerWrapper {
  display: flex;
  position: relative; 
  width: 100%; 
  height: auto; 
 
}

.divider1 {
  position: relative; 
  top: 0;
  left: 0;
  width: 1312px;
  color: #cecbcb;
  stroke-width: 1px;
  margin-left: 0;
  margin-top: 0;
}

.divider2 {
  position: absolute; 
  top: 0; 
  left: 0;
  width: 85px;
  color: #dd151f;
  stroke-width: 1px;
  margin: 0;
}

.detailsForm {
  display: flex;
  flex-direction: row;
  width: 1312px;
  height: 588px;
  background-color: #852fe7;
  margin-top: 44px;
  justify-content: space-between; 
}

.details {
  display: flex;
  flex-direction: column;
  width: 631px;
  height: 588px;
  background-color: rgb(75, 33, 33);
}

.badgesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 527px; 
  height: 104px;
  background-color: cadetblue;
  margin-top: 40px;
  margin-right: 52px;
  margin-left: 52px;
  line-height: 1;
  margin-bottom: 100px;
}

