.label-input-wrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  width: 100%;
  min-height: 3.5rem;
  padding: 0.5rem;
  box-sizing: border-box;
  background-color: var(--blok-field-form-bg-color);
  border-radius: var(--radius-sm);
}

.label {
  flex-shrink: 0;
  min-width: 0;
  font-size: 1rem;
  text-align: left;
  white-space: normal;
  color: var(--tertiary-color);

  /* word-break: break-word; */
  overflow-wrap: break-word;
}

.field-input-and-field-error {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  justify-content: center;
  min-width: 0;
}

.field-input {
  display: flex;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  padding: 0.2rem 1.125rem 0.3rem;
  box-sizing: border-box;
  background-color: var(--blok-field-input-area-bg-color-1);
  border: 0.0625rem solid var(--border-color);
  border-radius: var(--radius-sm);
  font-size: 1rem;
  color: var(--primary-color);
}

.field-input:focus-within {
  /* 🟢 Додаємо окантовку (рамку) до обгортки */
  border: 0.0625rem solid var(--hover-color);

  /* ⚠️ Опціонально: якщо ви хочете, щоб рамка була товщою 
     або мала ефект світіння, додайте box-shadow */
  box-shadow: 0 0 0 0.125rem #fff;
}

.field-input:hover {
  border: 0.0625rem solid var(--hover-color);
}

.field-error {
  border-color: var(--error-color) !important;
}

/* ----------------------------- */
.stars {
  display: flex;
  align-items: center;
  height: 100%;
}

.star {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 0.3125rem;
  padding: 0;
  background: none;
  border: none;
  line-height: 1;
}

.filled {
  color: var(--active-star-color, var(--color-yellow));
}

.empty {
  color: var(--inactive-star-color, var(--color-light-gray-4));
}

.star:focus {
  border-radius: 0.1875rem;
  outline: 0.0625rem solid var(--secondary-color);

  /* outline: 0.0625rem solid transparent; */
}

/* ----------------------- */
.error-popup {
  position: absolute;
  top: calc(100% + 0.25rem);
  left: 0;
  z-index: 10;
  margin: 0;
  padding: 0.25rem 0.5rem;
  background-color: var(--body-bg-color);
  border: 0.0625rem solid var(--error-color);
  border-radius: var(--radius-sm);
  box-shadow: var(--box-shadow);
  font-size: 0.9rem;
  letter-spacing: 0.056rem;
  white-space: nowrap;
  color: var(--error-color);
}

.error-popup::before {
  position: absolute;
  bottom: 100%;
  left: 0.625rem;
  border-color: transparent transparent var(--error-color);
  border-style: solid;
  border-width: 0 0.375rem 0.375rem;
  content: '';
}
