.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  background-color: var(--body-bg-color);
}

.contactItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 19.375rem;
  max-height: 8.75rem;
  padding: 0.75rem;
  border: 0.0625rem solid var(--border-color);
  border-radius: var(--radius-md);
  box-shadow: var(--box-shadom);
  background-color: var(--blok-field-form-bg-color);
}

.addressInfo {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  margin-bottom: 0.75rem;
}

.addressInfo strong {
  padding-right: var(--spacing-md);
}
.contactInfoPhone {
  font-size: 1.25rem;
  margin: 0;
  margin-bottom: 0.25rem;
}
.contactLink {
  margin-left: var(--spacing-md);
}

.contactInfoEmail {
  font-size: 1.25rem;
  margin: 0;
}
.contactLink {
  color: var(--color-blue);
  text-decoration: none;
  cursor: pointer;
}

.contactLink:hover {
  text-decoration: underline;
}

@media (max-width: 61.9375rem) {
  .contactList {
    gap: 1.25rem;
    padding: 0 1rem;
  }

  .contactItem {
    width: 16.25rem;
    height: 6.875rem;
  }

  .addressInfo {
    font-size: 1.1rem;
  }
  .contactInfoPhone {
    font-size: 1.1rem;
  }

  .contactInfoEmail {
    font-size: 1.1rem;
  }
}

@media (max-width: 47.9375rem) {
  .contactContainer {
    padding: 1rem;
  }
  .contactItem {
    width: 100%;
    font-size: 1rem;
    padding: 0.625rem;
    /* margin-bottom: 0.625rem; */
  }
}

@media (max-width: 29.9375rem) {
  .contactContainer {
    padding: 0.75rem;
  }
  .contactItem {
    font-size: 0.9rem;
  }
}
