/* .tooltipWrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  padding: 6px 8px;
  background-color: red;
  border-radius: 6px;
  font-size: 12px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  transform: translateY(4px);
  visibility: visible;
} */
