.badges-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.375rem;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
  flex-wrap: wrap;
}

.feature-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  width: auto;
  height: 3rem;
  padding: 0 0.875rem;
  background-color: var(--blok-feature-icon-bg-color);
  border-radius: 12.5rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--icon-primary-color);
}

.text {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  color: var(--tertiary-color);
}

.feature-icon use[href*='icon-icon-button-AC'],
.feature-icon use[href*='icon-icon-button-bathroom'],
.feature-icon use[href*='icon-icon-button-TV'],
.feature-icon use[href*='icon-icon-button-radio'],
.feature-icon use[href*='icon-icon-button-kitchen'],
.feature-icon use[href*='icon-icon-button-refrigerator'],
.feature-icon use[href*='icon-icon-button-gas'],
.feature-icon use[href*='icon-icon-button-water'],
.feature-icon use[href*='icon-icon-button-microwave'] {
  color: var(--tertiary-color);
  fill: none;
  stroke: currentcolor;
  stroke-width: 2;
}

@media (width <= 29.9375rem) {
  .badges-container {
    justify-content: center;
  }
}
