.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px 60px;
  border-radius: 200px;
  font-family: Inter, sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  white-space: nowrap;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

/* Стилі для різних розмірів */
.small,
.medium,
.large {
  height: 56px;
}

.small {
  width: 145px;
  border: 2px solid #dddbdb;

  /* background-color: transparent; */
}

.medium {
  width: 166px;
}

.large {
  width: 176px;
}

/* Стилі для різних варіантів (кольорова схема) */
.default {
  background: #f5f3f3;
  color: #141313;
}

.primary {
  background: #fa2105;
  color: #f5f3f3;
}

.secondary {
  background: #c048e4;
  color: #141313;
}

/* Стилі для станів (hover, active, disabled) */
.button:hover {
  background-color: #187ff2;
  transform: scale(1.2);
}

.button:active {
  background-color: #ec4a4a;
  transform: scale(0.95);
}

/* стиль кнопки у стані disabled (вимкнена) */
.button:disabled {
  background: #ccc;
  color: #6c757d;
  transform: none;
  cursor: not-allowed;
}

/* Ховер-ефект для кнопки .small: змінюється лише колір бордера та масштабування */
.small:hover {
  background-color: transparent; /* Фон залишається прозорим, щоб не змінювався */
  border-color: #187ff2; /* Синій бордер */
  transform: scale(1.2); /* Масштабування */
}

/* Active-ефект для кнопки .small */
.small:active {
  background-color: transparent; /* Фон залишається прозорим */
  border-color: #ec4a4a; /* Червоний бордер */
  transform: scale(0.95); /* Масштабування при натисканні, якщо потрібно */
}
