.button {
  border-radius: 200px;
  padding: 16px 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
  cursor: pointer;
}

/* Стилі для різних розмірів */
.small,
.medium,
.large {
  height: 56px;
}

.small {
  width: 145px;
}

.medium {
  width: 166px;
}

.large {
  width: 176px;
}

/* Стилі для різних варіантів (кольорова схема) */
.default {
  background: #f5f3f3;
  color: #141313;
}

.primary {
  background: #ec4a4a;
  color: #f5f3f3;
}

.secondary {
  background: #c048e4;
  color: #141313;
}

/* Стилі для станів (hover, active, disabled) */
.button:hover {
  background-color: #187ff2;
  transform: scale(1.1);
}

.button:active {
  background-color: #fa2105;
  transform: scale(0.95);
}

.button:disabled {
  background: #ccc;
  color: #6c757d;
  cursor: not-allowed;
  transform: none;
}
