.card {
    display: flex;
    flex-direction: column;
    width: 888px;
    height: 368px;
    background-color: brown;
    border-radius: 20px;
    border: #696363;
}

.contentCard {
    display: flex;
    flex-direction: row;
    width: 840px;
    height: 320px;
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 24px;
    background-color: #dadde1;
}

.containerPic img {
    display: flex;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    width: 524px;
    height: 320px;
    margin-left: 24px;
    background-color: burlywood;
}

.textContainerInfo {
    display: flex;
    flex-direction: column;
    width: 524px;
    height: 64px;
    background-color: rgb(248, 45, 167);
}



.titleInfo {
    display: flex;
    width: 524px;
    height: 32px;
    align-items: center;
    background-color: #dbe72f;
    margin: 0;
    margin-bottom: 8px;
}
.textTitleInfo {
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.priceInfo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 156px;
    margin-left: auto;
}

.textPriceInfo {
    display: flex;
    align-items: center;
}

.iconHeart {
    fill: currentColor;
    margin-left: 12px;
    vertical-align: middle;
}

.iconHeart svg {
    display: inline-block;
}

.detailsInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #15b5dd;
    width: 524px;
    height: 32px;
}

.reviewsInfo {
    display: flex;
    align-items: center;
    width: auto;
    height: 24px;
    background-color: #2fe747;
    margin-right: 16px;
}

.iconStar {
    margin-right: 4px;
    vertical-align: middle;
}

.iconStar svg {
    display: inline-block;
}

.locationInfo {
    display: flex;
    align-items: center;
    width: auto;
    height: 24px;
    background-color: #ffaa00;
}

.iconMap {
    margin-right: 4px;
    vertical-align: middle;
}

.iconMap svg {
    display: inline-block;
}

.supportingTextInfo {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    height: 24px;
    margin-top: 24px;
    background-color: #2fe747;
    align-items: center;
    width: 100%;   
}

.textInfo {
    color: #475467;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.badgesContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    width: 524px; 
    height: 104px;
    background-color: rgb(80, 255, 197);
    line-height: 1;
    margin-top: 24px;
}

.showMore {
    display: inline-flex;
    width: 524px;
    height: 96px;
    background-color: #2fe747;
    margin-top: 24px;
    align-items: end;
}



.popup {
    position: absolute;
    top: 100%;
    left: 0;
    /* Обмежуємо ширину popup шириною .containerInfo */
    max-width: 524px; /* або інша ширина .containerInfo */
    width: 100%; /* Адаптивна ширина в межах max-width */
    max-height: 200px;
    overflow-y: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    /* Дозволяємо перенос тексту */
    white-space: normal; /* або break-spaces для збереження пробілів */
}

.popupContent {
    box-sizing: border-box;
    /* max-height: 180px; */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.supportingTextInfo:hover .popup {
    transform: scale(1.1);
    display: block; /* Показуємо спливаюче вікно при наведенні */
}

.button {
    margin-right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconButton {
    width: auto;
    height: 32px;
}