.theme-toggle-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: transform 0.3s ease;
}

.theme-toggle-btn:hover {
  transform: scale(1.05);
}

.theme-icon-md-light,
.theme-icon-md-dark {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  font-size: 1.2rem;
}

.theme-icon-md-light {
  color: var(--primary-color);
}

.theme-icon-md-dark {
  color: var(--primary-color);
}
