.phone {
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  color: var(--primary-color-1);
}

.home-phone-icon {
  width: 1.3rem;
  height: 1.3rem;
  margin-right: 0.75rem;
  /* color: #0f0; */
  color: var(--home-phone-icon-color);
}

.phone-number {
  margin-right: 2rem;
  font-weight: bold;
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
  transition:
    transform 0.3s ease,
    color 0.3s ease;
}

.phone-number:hover {
  text-decoration: underline;
  color: var(--hover-color);
  transform: scale(1.05);
}

.phone-number:active {
  color: var(--active-color);
  transform: scale(0.95);
}

@media (width <= 74.9375rem) {
  .phone {
    font-size: 1.2rem;
  }

  .home-phone-icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (width <= 61.9375rem) {
  .phone {
    font-size: 1.1rem;
  }

  .home-phone-icon {
    width: 1.1rem;
    height: 1.1rem;
  }
}

@media (width <= 47.9375rem) {
  .phone {
    font-size: 1rem;
  }
  .home-phone-icon {
    width: 1rem;
    height: 1rem;
  }
}

@media (width <= 29.9375rem) {
  .phone {
    font-size: 0.9rem;
  }

  .home-phone-icon {
    width: 0.9rem;
    height: 0.9rem;
    margin-right: 0.5rem;
  }
}
