.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  /* padding: 10px; */
  background: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.modal {
  position: relative;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 996px;
  /* max-height: 90vh; */
  max-height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #e0e0e0;
  flex-shrink: 0;
}

.modalTitle {
  margin: 0;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  /* color: #fa2105; */
  color: #000;
  flex-shrink: 0;
}

.modalBody {
  padding: 0 24px;
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 1199px) {
  .modal {
    max-width: 80%;
    /* max-height: calc(100vh - 40px); */
  }
}

@media (max-width: 991px) {
  /* .modal {
    max-width: 80%;
    max-height: 80%;
  } */
}

@media (max-width: 767px) {
  /* .modal {
    max-width: 80%;
    max-height: 80%;
  } */
  .modalHeader {
    /* padding-left: 15px;
    padding-right: 15px; */
  }

  .modalBody {
    /* padding: 15px; */
  }
}

@media (max-width: 479px) {
  .modal {
    /* max-width: 80%;
    max-height: 80%; */
  }
  .modalHeader {
    /* flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    gap: 10px; */
  }
  .modalHeader .logo {
    /* max-width: 100px;
    height: auto; */
  }

  .modalTitle {
    /* font-size: 1.3rem; */
    /* padding: 10px 10px 15px 10px; */
  }
  .modalBody {
    /* font-size: 0.9rem; */
    /* padding: 10px; */
  }
}
