.inputWrapper {
  position: relative;
  width: 100%;
}

.scaleWrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 56px;
  padding: 10px 10px 10px 48px;
  background-color: var(--blok-location-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
}

.scaleWrapper:not(.selected):hover {
  border-color: #187fff;
  transform: scale(1.1);
}

.scaleWrapper.selected {
  border-color: #fa2105;
}

.iconMap {
  position: absolute;
  top: 50%;
  left: 20px;
  z-index: 1;
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--icon-primary-color);
}

.locationDisplay {
  flex-grow: 1;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.2;
  white-space: nowrap;
  color: var(--primary-color);
  text-overflow: ellipsis;
}

.dropdownList {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  max-height: 190px;
  margin-top: 4px;
  overflow-y: auto;
  background-color: var(--body-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
}

.dropdownItem {
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  color: var(--primary-color);
  transition: background-color 0.2s ease;
}

.dropdownItem:hover {
  background-color: var(--blok-location-bg-color);
}

.dropdownItem.selectedItem {
  background-color: var(--blok-location-bg-color);
  font-weight: bold;
}

@media (width <= 1199px) {
  .filterContainer {
    margin-bottom: 30px;
  }

  .filterTitle {
    justify-content: center;
  }

  .inputWrapper {
    max-width: 360px;
  }

  .scaleWrapper {
    height: 50px;
    padding-left: 45px;
  }

  .iconMap {
    left: 15px;
    width: 18px;
    height: 18px;
  }

  .dropdownList {
    max-height: 170px;
  }
}

@media (width <= 991px) {
  .filterContainer {
    margin-bottom: 25px;
  }

  .scaleWrapper {
    height: 48px;
    padding-left: 40px;
  }

  .iconMap {
    left: 12px;
    width: 16px;
    height: 16px;
  }

  .dropdownList {
    /* padding: 8px 10px; */
    max-height: 150px;
  }
}

@media (width <= 767px) {
  .filterContainer {
    margin-bottom: 20px;
  }

  .scaleWrapper {
    height: 45px;
    padding-left: 35px;
  }

  .iconMap {
    left: 10px;
    width: 14px;
    height: 14px;
  }

  .dropdownList {
    max-height: 135px;
  }

  .scaleWrapper:not(.selected):hover {
    transform: scale(1.05);
  }
}

@media (width <= 479px) {
  .filterContainer {
    margin-bottom: 15px;
  }

  .scaleWrapper {
    height: 40px;
    padding-left: 32px;
  }

  .iconMap {
    left: 10px;
    width: 14px;
    height: 14px;
  }

  .dropdownList {
    max-height: 125px;
  }

  .scaleWrapper:not(.selected):hover {
    transform: none;
  }
}
