.input-wrapper {
  position: relative;
  width: 100%;
}

.scale-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  height: 3.5rem;
  padding: 0.625rem 0.625rem 0.625rem 3rem;
  background-color: var(--blok-location-bg-color);
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.75rem;
  transition:
    transform 0.3s ease,
    border-color 0.3s ease;
}

.scale-wrapper:not(.selected):hover {
  border-color: #187fff;
  transform: scale(1.05);
}

.scale-wrapper.selected {
  border-color: #fa2105;
}

.icon-map {
  position: absolute;
  top: 50%;
  left: 1.25rem;
  z-index: 1;
  width: 1.25rem;
  height: 1.25rem;
  transition: fill 0.3s ease;
  transform: translateY(-50%);
  pointer-events: none;
  fill: var(--icon-primary-color);
}

.location-display {
  flex-grow: 1;
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.2;
  white-space: nowrap;
  color: var(--primary-color);
  text-overflow: ellipsis;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-height: 11.875rem;
  margin-top: 0.25rem;
  overflow-y: auto;
  background-color: var(--body-bg-color);
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 10%);
  overscroll-behavior: contain;
}

.dropdown-item {
  cursor: pointer;
  width: 100%;
  padding: 0.625rem 1.25rem;
  font-size: 1rem;
  text-align: left;
  color: var(--primary-color);
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
  background-color: var(--blok-location-bg-color);
}

.dropdown-item.selected-item {
  background-color: var(--blok-location-bg-color);
  font-weight: bold;
}

@media (width <= 74.9375rem) {
  .filter-container {
    margin-bottom: 1.875rem;
  }

  .filter-title {
    justify-content: center;
  }

  .input-wrapper {
    max-width: 22.5rem;
  }

  .scale-wrapper {
    height: 3.125rem;
    padding-left: 2.8125rem;
  }

  .icon-map {
    left: 0.9375rem;
    width: 1.125rem;
    height: 1.125rem;
  }

  .dropdown-list {
    max-height: 10.625rem;
  }
}

@media (width <= 61.9375rem) {
  .filter-container {
    margin-bottom: 15.625rem;
  }

  .scale-wrapper {
    height: 3rem;
    padding-left: 2.5rem;
  }

  .icon-map {
    left: 0.75rem;
    width: 1rem;
    height: 1rem;
  }

  .dropdown-list {
    max-height: 9.375rem;
  }
}

@media (width <= 47.9375rem) {
  .filter-container {
    margin-bottom: 1.25rem;
  }

  .scale-wrapper {
    height: 2.8125rem;
    padding-left: 2.1875rem;
  }

  .icon-map {
    left: 0.625rem;
    width: 0.875rem;
    height: 0.875rem;
  }

  .dropdown-list {
    max-height: 8.4375rem;
  }

  .scale-wrapper:not(.selected):hover {
    transform: scale(1.05);
  }
}

@media (width <= 29.9375rem) {
  .filter-container {
    margin-bottom: 0.9375rem;
  }

  .scale-wrapper {
    height: 2.5rem;
    padding-left: 2rem;
  }

  .icon-map {
    left: 0.625rem;
    width: 0.875rem;
    height: 0.875rem;
  }

  .dropdown-list {
    max-height: 7.8125rem;
  }

  .scale-wrapper:not(.selected):hover {
    transform: none;
  }
}
