.filterContainer { 
    display: flex;
    flex-direction: column; 
    margin-bottom: 40px; 
}

.filterTitle { 
    width: 100%; 
    height: 24px;
    color: #6c717b;
    margin-top: 0;
    margin-bottom: 8px; 
    background-color: #e5def3;
    display: flex;
    align-items: center;
}

.inputWrapper {
    display: flex;
    position: relative;
    width: 100%;
    align-items: center; 
}

.iconMap {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    fill: #888;
    cursor: pointer;
}

.locationInput {
    width: 100%;
    height: 56px;
    padding: 10px 10px 10px 40px; 
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 16px;
    padding-left: 48px;
    color: #504b4b;
}

.locationInput:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.2);
}

.option {
    padding: 8px;     
}