.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1440px;
  margin: 0 auto;
  background-color: #f7f7f7;

}

.containerCatalog {
  display: flex;
  width: 1312px;
  margin-top: 44px;
  margin-bottom: 44px;
  scroll-margin-top: 72px;
}

.containerFilters {
  display: flex;
  flex-direction: column;
  width: 360px;
}

.filterTitle {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: 24px;
  margin: 0;
  margin-top: 32px;
  margin-bottom: 28px;
  line-height: normal;
  color: #4c6747;
}

.containerCards {
  display: flex;
  flex-direction: column;
  width: 888px;
  margin-left: 64px;
  scroll-margin-top: 72px;
}

.containerLoadMore {
  display: flex;
  justify-content: center;
  width: 888px;
  height: 56px;
  margin-top: 40px;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px; 
}

.filterButtonsContainer {
  display: flex;
  justify-content: space-between;
}
