.container-page {
  padding: var(--padding-form-min);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 90rem;
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--body-bg-color);
}

.container-catalog {
  display: flex;
  justify-content: center;
  gap: 3.5625rem;
  width: 100%;
  max-width: 82rem;
  margin: 2.75rem 0;
  scroll-margin-top: 4.5rem;
  flex-wrap: wrap;
}

.container-filters {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  max-width: 22.5rem;
}

.location-title {
  margin-top: 0;
  margin-bottom: 0.625rem;
  color: var(--tertiary-color);
}

.filter-title {
  margin-top: 6.25rem;
  margin-bottom: 1.5rem;
  color: var(--tertiary-color);
}

.container-cards {
  display: flex;
  flex: 1 1 0;
  flex-direction: column;
  width: 100%;
  max-width: 55.5rem;
  min-width: 17.5rem;
  margin-left: 0;
  scroll-margin-top: 4.5rem;
}

.container-load-more {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 3.5rem;
  max-width: 55.5rem;
  margin-top: 2.5rem;
}

.filter-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.9375rem;
}

.container-scroll-to-top-button {
  position: fixed;
}
.no-results-message {
  color: var(--primary-color);
  text-align: center;
  margin-top: 50px;
  font-size: 1.2rem;
}

@media (width <= 74.9375rem) {
  .layout {
    flex-direction: column;
  }

  .container-catalog {
    display: flex;
    justify-content: center;
    gap: 0.625rem;
    width: 100%;
    max-width: 74.9375rem;
    margin: 1.5rem 0;
  }

  .container-filters {
    align-items: center;
    max-width: 100%;
    margin-right: 0;
  }

  .filter-title {
    text-align: center;
  }

  .container-cards {
    align-items: center;
    max-width: 100%;
    margin-left: 0;
  }

  .filter-buttons-container {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
}

@media (width <= 47.9375rem) {
  .container-catalog {
    gap: 1.5rem;
    width: 98%;
    margin-top: 1.5rem;
    padding: 0 0.625rem;
  }

  .container-filters,
  .container-cards {
    width: 100%;
    min-width: unset;
  }

  .filter-buttons-container {
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
  }
}

@media (width <= 29.9375rem) {
  .container-catalog {
    width: 100%;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    padding: 0 0.3125rem;
  }

  .filter-title {
    margin-top: 1.25rem;
    margin-bottom: 0.9375rem;
  }
}
