.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  width: 100%;
  max-width: 1312px;
  height: 72px;
  margin: 0 auto;
  padding: 0 64px;
  background-color: #dddbdb;
}

.logoHeader {
  flex-shrink: 0;
}

.menu {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 32px;
  font-weight: 500;
  font-size: 20px;
}

.link {
  text-decoration: none;
  color: #333;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.link:hover {
  color: #187ff2;
  transform: scale(1.3);
}
.link:active {
  color: #fa2105;
  transform: scale(0.95);
}
.active {
  text-decoration: none;
  color: #ec4a4a;
}
