.burger-button {
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  font-size: 1.3rem;
  line-height: 1;
  color: var(--button-burger-icon-color);
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.burger-button:hover {
  color: var(--hover-color);
  transform: scale(1.05);
}

.burger-button:active {
  color: var(--active-color);
  transform: scale(0.95);
}
@media (width <= 74.9375rem) {
  .burger-button {
    font-size: 1.2rem;
  }
}

@media (width <= 61.9375rem) {
  .burger-button {
    font-size: 1.1rem;
  }
}

@media (width <= 47.9375rem) {
  .burger-button {
    font-size: 1rem;
  }
}

@media (width <= 29.9375rem) {
  .burger-button {
    font-size: 0.9rem;
  }
}
