.burgerButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  font-size: 1.2rem;
  line-height: 1;
  cursor: pointer;
  z-index: 1001;
  color: var(--button-burger-icon-color);
  padding: 0;
  margin: 0;
  transition:
    color 0.2s ease,
    transform 0.2s ease;
}

.burgerButton:hover {
  color: var(--hover-color);
  transform: scale(1.05);
}

.burgerButton:active {
  color: var(--active-color);
  transform: scale(0.95);
}
