/* .equipmentRaw1{
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 360px;
  height: 96px;
  background-color: #ff00b3;
  margin-bottom: 4px;
}

.iconAc {
  display: flex;
  margin: auto;
  width: 32px;
  height: 64px;
}

.iconAutomatic {
  display: flex;
  margin: auto;
  width: 78px;
  height: 64px;
}

.iconKitchen{
  display: flex;
  margin: auto;
  width: 59px;
  height: 64px;
}
 */



