.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 1rem 1.5rem;
  border-radius: 12.5rem;
  font-family: Inter, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -0.01em;
  white-space: nowrap;
  transition:
    background-color 0.3s ease,
    transform 0.3s ease;
}

.small,
.medium,
.large {
  height: 3.5rem;
}

.small {
  /* min-width: 9.0625rem; */
  /* padding: 1rem 1.5rem; */
  border: 0.125rem solid var(--border-color);
}

.medium {
  min-width: 10.375rem;
}

.large {
  min-width: 11rem;
}

.default {
  background: var(--button-default-bg-color);
  color: var(--button-default-text-color);
}

.primary {
  background-color: var(--button-primary-bg-color);
  color: var(--button-primary-text-color);
}

.secondary {
  background: var(--button-secondary-bg-color);
  color: var(--button-secondary-text-color);
}

.button:disabled,
.primary:disabled,
.secondary:disabled {
  cursor: not-allowed;
  background-color: var(--button-disabled-bg-color);
  color: var(--button-disabled-text-color);
  transform: none;
}

.button:active {
  transform: scale(0.95);
}

.button:hover:not(.small) {
  background-color: var(--hover-bg-color);
}

.button:active:not(.small) {
  background-color: var(--active-bg-color);
}

.small:hover {
  background-color: transparent;
  border-color: var(--hover-color);
}

.small:active {
  background-color: transparent;
  border-color: var(--active-color);
}
