.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0;
  flex-wrap: wrap;
}

.socialIcon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--opposite-text-color);
  transition:
    transform 0.3s ease,
    color 0.3s ease;
  cursor: pointer;
}

.socialIcon:hover {
  color: var(--hover-color);
  transform: scale(1.2);
}

.socialIcon:active {
  color: var(--active-color);
  transform: scale(0.95);
}

/* Базові стилі для великих екранів */
.icon {
  width: 1.3rem;
  height: 1.3rem;
}

/* 74.9375rem (1200px) і менше */
@media (max-width: 74.9375rem) {
  .icon {
    width: 1.2rem;
    height: 1.2rem;
  }
}

/* 61.9375rem (991px) і менше */
@media (max-width: 61.9375rem) {
  .icon {
    width: 1.1rem;
    height: 1.1rem;
  }
}

/* 47.9375rem (767px) і менше */
@media (max-width: 47.9375rem) {
  .icon {
    width: 1rem;
    height: 1rem;
  }
}

/* 29.9375rem (480px) і менше */
@media (max-width: 29.9375rem) {
  .icon {
    width: 0.9rem;
    height: 0.9rem;
  }
}
