.noReview {
  padding: 0.625rem;
  font-style: italic;
  text-align: center;
  color: var(--warning-color);
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  min-height: 6.875rem;
  padding: 0;
  padding-bottom: 1rem;
  box-sizing: border-box;
  /* background-color: var(--body-bg-color); */
}

.reviewHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  margin-bottom: 0.75rem;

  padding: 0;

  flex-wrap: nowrap;
}

.reviewNameRating {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 9.375rem;
  padding: 0.25rem 0;
}

.reviewerName {
  overflow: hidden;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  color: #555;
  color: var(--primary-color);
  text-overflow: ellipsis;
}

.reviewRating {
  display: flex;
  font-size: 1.5rem;
}

.filledStar {
  margin-right: 0.3125rem;
  color: var(--star-gold-color);
}

.emptyStar {
  margin-right: 0.3125rem;
  color: var(--star-empty-color);
}

.reviewDate {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 23rem;
  margin-left: auto;
  font-size: 1rem;
  white-space: nowrap;

  color: var(--secondary-color);
  margin-right: 1.25rem;
}

.reviewComment {
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
  display: flex;
  height: auto;
  max-width: 100%;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--secondary-color);
  flex-wrap: wrap;
  margin-right: 1.25rem;
  margin-bottom: 0.3rem;
  text-align: justify;
}
