
.review {
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: rgb(80, 150, 255);
    margin-bottom: 44px;
}

.reviewIconNameRating {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    width: 172px;
    height: 60px;
    background-color: chartreuse;
    margin-bottom: 16px;
}

.icon-user {
    width: 60px;
    height: 60px;

}
.reviewNameRating {
    display: flex;
    flex-direction: column;
    width: 96px;
    height: 44px;
    background-color: rgb(155, 104, 202);
}


.reviewComment {
    display: flex;
    flex-wrap: wrap;
    max-width: 634px; 

    height: auto;
    background-color: darkkhaki;

}

.reviewerName {
    display: flex;
    align-items: center;
}


.reviewIconNameRating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

/* Додаткові стилі для блоку з ім'ям та рейтингом */
/* .reviewNameRating {
    
} */

.icon-user {
    width: 60px;
    height: 60px;
    /* Додаткові стилі для іконки користувача */
}

.initials {
    font-size: 20px;
    font-weight: bold;
    fill: #e01313; /* Колір букви */
}

/* Додаткові стилі для коментаря */
/* .reviewComment {
    
} */

.filledStar {
    color: gold;
}

.emptyStar {
      color: rgb(196, 191, 164);
}


