.no-review {
  padding: 0.625rem;
  font-style: italic;
  text-align: center;
  color: var(--warning-color);
}

.review-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 40rem;
  min-height: 6.875rem;
  padding: 0;
  padding-bottom: 1rem;
  box-sizing: border-box;
}

.review-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.75rem;
  width: 100%;
  margin-bottom: 0.75rem;
  padding: 0;
  flex-wrap: nowrap;
}

.review-name-rating {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  width: 100%;
  max-width: 9.375rem;
  padding: 0.25rem 0;
}

.reviewer-name {
  overflow: hidden;
  font-size: 1rem;
  font-weight: 600;
  white-space: nowrap;
  color: #555;
  color: var(--primary-color);
  text-overflow: ellipsis;
}

.review-rating {
  display: flex;
  font-size: 1.5rem;
}

.filled-star {
  margin-right: 0.3125rem;
  color: var(--star-gold-color);
}

.empty-star {
  margin-right: 0.3125rem;
  color: var(--star-empty-color);
}

.review-date {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 23rem;
  margin-right: 1.25rem;
  margin-left: auto;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--secondary-color);
}

.review-comment {
  display: flex;
  height: auto;
  max-width: 100%;
  margin-right: 1.25rem;
  margin-bottom: 0.3rem;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  text-align: justify;
  white-space: normal;
  color: var(--secondary-color);
  word-wrap: break-word;
  overflow-wrap: break-word;
  flex-wrap: wrap;
}
