/* .filter-title {
  display: flex;
  flex-direction: row;
  width: 22.5rem;
  height: 1.5rem;
  margin: 0;
  margin-bottom: 2rem;
  background-color: #e44848;
  line-height: normal;
  color: #475467;
} */

.vehicle-equipment {
  display: flex;
  flex-direction: column;
  width: 22.5rem;
  margin-bottom: 2rem;
}

.text-equipment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 11.3125rem;
  height: 1.5rem;
  margin: 0;
  line-height: normal;
  color: var(--primary-color);
  width: 100%;
}

.divider {
  display: flex;
  flex-direction: column;
  max-width: 22.3125rem;
  margin: 1.5rem 0;
  border: 0.0625rem solid var(--border-color);
}

.equipment-container {
  display: flex;
  gap: 0.5rem 0.75rem;
  width: 22.5rem;
  height: 12.5rem;
  flex-wrap: wrap;
}

.raw-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 7rem;
  height: 6rem;
  padding: 0;
  box-sizing: border-box;
  border: 0.125rem solid var(--border-color);
  border-radius: var(--radius-md);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.raw-icon:hover:not(.active) {
  border: 0.125rem solid var(--hover-color);
  transform: scale(1.05);
}

.raw-icon.active {
  border: 0.125rem solid var(--active-color);
}

.icon {
  width: 3rem;
  height: 3rem;
  margin-top: 1rem;
  fill: var(--icon-primary-color);
}

.icon-text {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  color: var(--tertiary-color);
}
