.textServicesModal p {
  margin: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  line-height: 1.3;
  text-align: justify;
  text-indent: 1em;
  color: var(--primary-color);
}
@media (max-width: 74.9375rem) {
  .textServicesModal p {
    font-size: 1.1rem;
    line-height: 1.2;
  }
}

@media (max-width: 61.9375rem) {
  .textServicesModal p {
    font-size: 1rem;
    line-height: 1.1;
  }
}

@media (max-width: 47.9375rem) {
  .textServicesModal p {
    font-size: 0.9rem;
    line-height: 1;
  }
}

@media (max-width: 29.9375rem) {
  .textServicesModal p {
    font-size: 0.8rem;
    line-height: 0.9;
  }
}
